@media (min-width: 0){
    .editor {
        grid-template-columns: 1fr;
        width: 90vw;
        max-width: 450px;
    }
    .imgs-container{
        column-count: 4;
    }

}

/* desktop */
@media (min-width: 640px) {
    .editor {
        grid-template-columns:  1fr minmax(auto, 1fr);
        max-width: 1100px;
    }
    .canvas-container{
        max-width: 90%;
    }

    .imgs-container{
        column-count: 6;
    }
    
}