.editor {
    display: grid;
    justify-content:center;

    max-height: 90vh;
    padding-top: 20px;
    padding-inline: 20px;
    margin: auto;
}

.editor button{
    cursor: pointer;
}

.editor-menu {
    display: grid;
    grid-auto-rows: max-content;
    gap: 20px;

    min-width: 320px;

    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.line-btns{    
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    justify-content: end;
    column-gap: 10px;
    width: 100%;
}

.line-btns.line-move-btns{
    grid-template-columns: 5fr 1fr 1fr;
}

.text-edit-toolbar{
    display: grid;
    grid-auto-rows: auto;
    background-color: white;
}

.text-edit-toolbar >*:not(.meme-txt){
    grid-row: 1;
}

input.meme-txt{
    grid-column: 1/8;
    width: 100%;
    height: 60px;
    border: 0;
    border-top: 1px solid rgb(199, 199, 199);
}

.editor input, .editor label {
    cursor: pointer;
}


label.color-select{
    display: block;
    text-align: center;
    padding-block: 2px;
    padding-inline: 4px;
}

.font-select{
    width: 120px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    margin: 5px;
}

input.color-select{
    position: absolute;
    width: 0;
    padding: 0;
    border: none;
}

.move-line h4{
    display: inline;
}

.sticker{
    min-width: 280px;
    text-align: center;
}
.sticker button{
    font-size: 40px;
}
