.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 10px;
    color: white;
    background: rgb(238,174,202);
    background: linear-gradient(156deg, rgba(238,174,202,1) 0%, rgba(238,174,230,1) 35%, rgba(148,187,233,1) 100%);
}
.main-nav h1{
    text-shadow: 3px 5px 2px #474747;
}

.main-nav ul{
    display: flex;
    gap: 20px;
}

.main-nav li{
    cursor: pointer;
}

.menu-open-screen{
    position: fixed;
    inset: 0;
    background-color: #ffa3f73b;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

body.menu-open .menu-open-screen{
    pointer-events: auto;
    opacity: 1;
}